<div class="menu-container">
    <div class="logo">
        <img src="assets/logo.jpg" height="70px" alt="logo img" [routerLink]="['/']"/>
    </div>

    <div class="buttons">
        @if(!authenticated){
            <a [routerLink]="['/login']">login</a>
        <a [routerLink]="['/register']">register</a>
        }  @else {
            <span style="color: rgb(209, 174, 104); padding-right: 20px;">{{username}}</span>
            <a (click)="handleLogout()">logout</a>
        }
    </div>
</div>