.menu-container {
    width: 100%;
    height: 60px;
    background-color: #010101;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}



.buttons a {
    color: rgb(209, 174, 104);
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgb(209, 174, 104);
    margin-right: 10px;
    padding: 7px 20px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1rem;
}

.buttons a:hover {
    background-color: rgb(209, 174, 104);
    color: #010101;
    cursor: pointer;
}

.logo img {
    cursor: pointer;
}

.user-menu-container {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    
}

.user-menu {
    position: absolute;
    background-color: rgb(209, 174, 104);
    width: 200px;
    top: 42px;
    right: 0;
    z-index: 21;
}

.menu-item {
    width: 100%;
    height: 40px;
    color: #010101;
    cursor: pointer;
    text-transform: uppercase;
    padding: 25px 10%;
    display: flex;
    align-items: center;
}

.menu-item:hover {
    background-color: #010101 ;
    color: rgb(209, 174, 104);
}

.icon {
    padding-right: 10px;
}